.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  max-width: 1280px;
  margin: 0 auto;
  opacity: 70%;
  color: #212121;
  line-height: 16px;
  font-weight: 400;
}

.footer p {
  margin: 0;
}
