.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  visibility: hidden;
  z-index: 1;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  font-weight: 500;
}

.modal__container_type_preview {
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  width: auto;
}

.modal__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 4px 8px;
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.8;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  height: 32px;
  text-align: center;
  max-width: 80vw;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  color: #212121;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  background: transparent url(../images/cross.svg) center no-repeat;
}

.modal__close-button_preview {
  background-image: url(../images/white-cross.svg);
  top: 0;
  right: -55.5px;
  opacity: 1;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  height: 32px;
  width: 169px;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 0.9;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.3);
  border: 1px solid rgba(33, 33, 33, 0.4);
  transition: opacity 0.5s ease-in-out, border-color 0.5s ease-in-out,
    border-width 0.3s ease-in-out, color 0.5s ease-in-out;
}

.modal__input:hover {
  opacity: 1;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:focus {
  border-color: rgba(33, 33, 33, 1);
  border-width: 2px;
}

.modal__input:valid {
  color: rgba(33, 33, 33, 1);
}

.modal__submit-button {
  background-color: #212121;
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 0.8;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__container_type_preview {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 24px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_preview {
    top: -30px !important;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 0 5px;
  }

  .modal__container {
    padding: 8px;
    max-width: 280px;
    width: 100%;
  }

  .modal__title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .modal__close-button {
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
  }

  .modal__close-button_preview {
    top: -25px !important;
    right: -40px;
  }

  .modal__image {
    /* max-width: 90vw; */
    max-height: 60vh;
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    padding: 2px 6px;
    max-width: 90vw;
  }

  .modal__submit-button {
    width: 100%;
    font-size: 14px;
    padding: 12px 0;
  }
}
