.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
}

.page__column {
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 627px) {
  .page {
    overflow: hidden;
  }
}
